<h4>Internal server error - refreshing the page will make error disappear.</h4>
<ng-container *ngIf = "error"> 
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this then angular is not the one to blame.</p>
    <p>What to do next?</p>
    <ol>
        <li>Check Network tab in browser</li>
        <li>Examine the URL of the Endpoint using Postman</li>
    </ol>
    <p style="font-weight : bold;">Following is the stack trace: </p>
    <code class = "mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
</ng-container>
